@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;

}


.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url(https://wallpaperaccess.com/thumb/945196.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 88vh;
    background-attachment: fixed;
    padding: 20px 60px 20px 30px;
    border-bottom: thin solid rgb(253, 253, 253);
    font: 22px;
}


.container{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .btn{
    position:relative;
    width: 230px;
    height: 30px;
    margin: 5px;

}

.second {
    border-radius: 3em;
    border-color: #1abc9c;
    color: #fff;
    background-image: -webkit-linear-gradient(left, rgba(26, 188, 156, 0.6), rgba(26, 188, 156, 0.6) 5%, #1abc9c 5%, #1abc9c 10%, rgba(26, 188, 156, 0.6) 10%, rgba(26, 188, 156, 0.6) 15%, #1abc9c 15%, #1abc9c 20%, rgba(26, 188, 156, 0.6) 20%, rgba(26, 188, 156, 0.6) 25%, #1abc9c 25%, #1abc9c 30%, rgba(26, 188, 156, 0.6) 30%, rgba(26, 188, 156, 0.6) 35%, #1abc9c 35%, #1abc9c 40%, rgba(26, 188, 156, 0.6) 40%, rgba(26, 188, 156, 0.6) 45%, #1abc9c 45%, #1abc9c 50%, rgba(26, 188, 156, 0.6) 50%, rgba(26, 188, 156, 0.6) 55%, #1abc9c 55%, #1abc9c 60%, rgba(26, 188, 156, 0.6) 60%, rgba(26, 188, 156, 0.6) 65%, #1abc9c 65%, #1abc9c 70%, rgba(26, 188, 156, 0.6) 70%, rgba(26, 188, 156, 0.6) 75%, #1abc9c 75%, #1abc9c 80%, rgba(26, 188, 156, 0.6) 80%, rgba(26, 188, 156, 0.6) 85%, #1abc9c 85%, #1abc9c 90%, rgba(26, 188, 156, 0.6) 90%, rgba(26, 188, 156, 0.6) 95%, #1abc9c 95%, #1abc9c 100%);
    background-image: linear-gradient(to right, rgba(26, 188, 156, 0.6), rgba(26, 188, 156, 0.6) 5%, #1abc9c 5%, #1abc9c 10%, rgba(26, 188, 156, 0.6) 10%, rgba(26, 188, 156, 0.6) 15%, #1abc9c 15%, #1abc9c 20%, rgba(26, 188, 156, 0.6) 20%, rgba(26, 188, 156, 0.6) 25%, #1abc9c 25%, #1abc9c 30%, rgba(26, 188, 156, 0.6) 30%, rgba(26, 188, 156, 0.6) 35%, #1abc9c 35%, #1abc9c 40%, rgba(26, 188, 156, 0.6) 40%, rgba(26, 188, 156, 0.6) 45%, #1abc9c 45%, #1abc9c 50%, rgba(26, 188, 156, 0.6) 50%, rgba(26, 188, 156, 0.6) 55%, #1abc9c 55%, #1abc9c 60%, rgba(26, 188, 156, 0.6) 60%, rgba(26, 188, 156, 0.6) 65%, #1abc9c 65%, #1abc9c 70%, rgba(26, 188, 156, 0.6) 70%, rgba(26, 188, 156, 0.6) 75%, #1abc9c 75%, #1abc9c 80%, rgba(26, 188, 156, 0.6) 80%, rgba(26, 188, 156, 0.6) 85%, #1abc9c 85%, #1abc9c 90%, rgba(26, 188, 156, 0.6) 90%, rgba(26, 188, 156, 0.6) 95%, #1abc9c 95%, #1abc9c 100%);
    background-position: 0 0;
    background-size: 100%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .second:hover {
    background-position: 100px;
  }

.logo{

    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

.logo{

    font-size: 50px;
    padding-right: 10px;
    color: rgb(253, 253, 253);
    font-style: italic;

}

.logo img{

    width: 300px;

}

.menu a{

    text-decoration: none;
    font-size: 18px;
    padding-right: 10px;
    color: rgb(250, 248, 248);
    transition: all 200ms;

}

.menu a:hover{

    color: rgba(252, 248, 248, 0.842);
}


body{
    background: url(https://images.unsplash.com/photo-1517315003714-a071486bd9ea?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fGFlc3RoZXRpY3xlbnwwfHwwfA%3D%3D&w=1000&q=80);
    background-repeat: no-repeat;
    background-size:100% 1000px;
    background-attachment: fixed;

}


@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.hobbies h2{

    color: white;
    font-size: 16px;
    font-family: Arial;
    text-shadow: 1px 1px 0 white;
}


article{
    float:left;
    width: 500px;
}

section{
    text-align: center;
    color: rgb(0, 0, 0);
    background: #fffefe;
    margin: 10px auto;
    width: 1000px;
    overflow: hidden;
    border-radius: 20px;

}

.hobbies{
    margin-top: 70px;
}

h2{
    text-align: center;
}

.fila1{
    background: #ffffff;
    color: rgb(3, 3, 3);
    padding-top: 50px;
}

.fila1 img{
    margin-top: -50px;
}

.fila2{
    color: rgb(0, 0, 0);
    background: #f3f3f3;
}

@media screen and(max-width:1000px){
    section{
        width: 100%;
    }
}

@media screen and(max-width:700px){
    article{
        width: 100%;
    }
}


.footer{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.letraschidas span{
    font-size: 60pt;
    font-weight: bold;
    position: relative;
    font-family: "Fredoka One";
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.letraschidas span::before{
    content: var(--l);
    position: absolute;
    transform: scale(1.1);
    filter: blur(40px);
}

.letraschidas span::after{
    content: var(--l);
    position: absolute;
    top:80%;
    left: 0;
    filter: blur(30px);
    transform: rotateX(50deg);
}

.letraschidas span:hover{
    filter: contrast(250%);
}

.letraschidas span:nth-child(1){
    color:#3cd2ff ;
}

.letraschidas span:nth-child(2){
    color:#914dff ;
}

.letraschidas span:nth-child(3){
    color:#52ff1d ;
}

.letraschidas span:nth-child(4){
    color: #ff2424;
}







